@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap');
//---------------------------------------------------------
$green : #4F5949;
$brown : #986C41;
$light-brown : #BEAF98;
$creamy : #F2EBE3;
$black : #0D1713;
$red : #C01E29;
$shadow : 0 0 11px transparentize($light-brown,.4);
$gray : #C1C1C1;
$navbar-height: 67px;
//---------------------------------------------------------
//---------------------------------------------------------
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
:root {
  font-size: 16px;
  @media screen and  (max-width:800px) {
    font-size: 13px;
  }
}
.btn  {
  cursor: pointer;
  padding: .5rem 1rem;
  @include rounded-borders();
  overflow: revert;
}
.btn-primary {
  background-color: $green;
  color: $creamy;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;

  &:hover {
    background-color: saturate($green, 10);
  }
}
.btn-danger {
  background-color: $red;
  color: $creamy;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;

  &:hover {
    background-color: saturate($red, 10);
  }
}
.select {
  width: 100%;
  position: relative;
  .arrow {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: $light-brown;
  }
}
select {
  width: 100%;
  border: none;
  box-shadow: none !important;
  background-color: white;
  padding: .6rem 1rem;
  font-size: 1rem;
  @include rounded-borders();
  color: $brown;
  appearance: none !important;
  background-image: none !important;

  &:focus {
    outline: 1px solid $brown;
  }
}
.input {
  width: 100%;
  input {
    @include rounded-borders();
    background-color: white;
    color: $brown;
    box-shadow: none !important;
    border: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: 1px solid $light-brown;
    }

    &::placeholder {
      color: $brown;
    }
  }

}
.search {
  position: absolute;
  top: 16%;
  font-size: 1.2rem;
  color: $light-brown;
  right: 1rem;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
}
* {
  scrollbar-width: thin;
  scrollbar-color: transparent $green;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 14px;
  border: none;
}

.btn-checkbox {
  border: 1px solid $green;
  color: $green;
  border-radius: 99px;
  min-width: fit-content;
  max-width: fit-content;

  label {
    pointer-events: none;
  }

  input {
    display: none;
    pointer-events: none;
  }

  &.active {
    background-color: $green;
    color: $creamy;
  }
}

button[disabled] {
  background-color: $gray;
}

.capitalize {
  text-transform: capitalize;
}

.modal-content {
  background-color: $creamy;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  i {
    font-size: 10rem;
    color: $green;
  }

  p {
    font-size: 1.5rem;
    color: $green;
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;

  .navbar {
    width: 100%;
  }
}

.error {
  font-size: .8rem;
  color: $red;
  display: none;

  &.show {

    display: block;
  }
}