@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  :root {
    font-size: 13px;
  }
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  overflow: revert;
}

.btn-primary {
  background-color: #4F5949;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-primary:hover {
  background-color: #4d6141;
}

.btn-danger {
  background-color: #C01E29;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-danger:hover {
  background-color: #cb131f;
}

.select {
  width: 100%;
  position: relative;
}
.select .arrow {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #BEAF98;
}

select {
  width: 100%;
  border: none;
  box-shadow: none !important;
  background-color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  color: #986C41;
  appearance: none !important;
  background-image: none !important;
}
select:focus {
  outline: 1px solid #986C41;
}

.input {
  width: 100%;
}
.input input {
  border-radius: 0.5rem;
  overflow: clip;
  background-color: white;
  color: #986C41;
  box-shadow: none !important;
  border: none;
}
.input input:focus {
  border: none;
  box-shadow: none;
  outline: 1px solid #BEAF98;
}
.input input::placeholder {
  color: #986C41;
}

.search {
  position: absolute;
  top: 16%;
  font-size: 1.2rem;
  color: #BEAF98;
  right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent #4F5949;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4F5949;
  border-radius: 14px;
  border: none;
}

.btn-checkbox {
  border: 1px solid #4F5949;
  color: #4F5949;
  border-radius: 99px;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-checkbox label {
  pointer-events: none;
}
.btn-checkbox input {
  display: none;
  pointer-events: none;
}
.btn-checkbox.active {
  background-color: #4F5949;
  color: #F2EBE3;
}

button[disabled] {
  background-color: #C1C1C1;
}

.capitalize {
  text-transform: capitalize;
}

.modal-content {
  background-color: #F2EBE3;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found i {
  font-size: 10rem;
  color: #4F5949;
}
.not-found p {
  font-size: 1.5rem;
  color: #4F5949;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
aside .navbar {
  width: 100%;
}

.error {
  font-size: 0.8rem;
  color: #C01E29;
  display: none;
}
.error.show {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #BEAF98;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo img {
  width: 50px;
}
#logo span {
  font-weight: 700;
  font-family: "Overlock", cursive;
  font-size: 2rem;
  color: #4F5949;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  overflow: clip;
}
.profile .img {
  width: 40px;
  height: 40px;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.profile .img img {
  scale: 1.2;
}

.card-link {
  width: 280px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  overflow: clip;
  box-shadow: 0 0 11px rgba(190, 175, 152, 0.6);
  height: 300px;
  width: 100%;
}

.card-img {
  width: 80%;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img img {
  min-height: 100%;
  min-width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: available;
  margin-bottom: auto;
  margin-top: auto;
}
.card-body .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #4F5949;
}
.card-body .author {
  color: #986C41;
}

.card-footer {
  color: #986C41;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4rem;
  row-gap: 2rem;
  width: 100%;
}

body {
  background-color: #F2EBE3;
}
body > *:not(nav) {
  padding: 1rem 2rem;
}
@media screen and (max-width: 450px) {
  body > *:not(nav) {
    padding: 1rem;
  }
}

.filter-bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background: linear-gradient(0deg, rgba(152, 108, 65, 0.6), rgba(152, 108, 65, 0.6)), url("../pictures/background.jpg");
  background-position: center;
  background-size: cover;
  height: max-content;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .search-section {
    flex-direction: column;
  }
  .search-section > * {
    width: 100% !important;
  }
}
.search-section .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 550px) {
  .search-section .right {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .search-section .right {
    width: 100%;
  }
}
.search-section .right h1 {
  color: #BEAF98;
  font-weight: 700;
  font-family: "Overlock", cursive;
  font-size: 4rem;
  text-align: center;
  max-width: 400px;
}
@media screen and (max-width: 1024px) {
  .search-section .right h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 900px) {
  .search-section .right h1 {
    font-size: 4rem;
    max-width: none;
  }
}
@media screen and (max-width: 600px) {
  .search-section .right h1 {
    font-size: 2.7rem;
  }
}
.search-section .right form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-section .right .input {
  width: 70%;
}
@media screen and (max-width: 800px) {
  .search-section .right .input {
    width: 100%;
  }
}
.search-section .right .input input {
  border-radius: 99px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #F2EBE3;
  border: none !important;
  box-shadow: none;
}
.search-section .right .input input:focus {
  outline: 2px solid #BEAF98;
}
.search-section .right .input input::placeholder {
  color: #F2EBE3;
}
.search-section .right .input .search {
  position: absolute;
  top: 16%;
  font-size: 1.2rem;
  color: #F2EBE3;
  right: 1rem;
}
.search-section .left {
  padding: 3.5rem 0;
  align-items: center;
  pointer-events: none;
  width: 50%;
  gap: 0;
  justify-content: space-between;
  transition: all ease 0.5s;
}
@media screen and (max-width: 900px) {
  .search-section .left {
    padding: 1rem 0;
    justify-content: space-around;
  }
}
.search-section .left .card-link {
  pointer-events: auto;
  transition: all ease-in-out 300ms;
  width: 27.5%;
}
@media screen and (max-width: 900px) {
  .search-section .left .card-link {
    width: 30.5%;
  }
  .search-section .left .card-link:last-child {
    display: none;
  }
}
.search-section .left .card-link:hover .card-content {
  display: flex;
}
.search-section .left .card {
  flex-direction: column;
  transition: all ease-in-out 300ms;
  gap: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: revert;
}
.search-section .left .card .card-img {
  width: 100%;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 19vw;
}
.search-section .left .card .card-img img {
  min-height: 19vw;
  min-width: 100%;
}
.search-section .left .card .card-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.search-section .left .card .card-body {
  height: fit-content;
  writing-mode: revert;
  transform: none;
}
.search-section .left .card .card-body .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  color: #4F5949;
}
.search-section .left .card .card-body .author {
  color: #986C41;
}
.search-section .left .card .card-footer {
  display: none;
}

/*# sourceMappingURL=design.css.map */
