@import "navbar";
@import "item";
//----------------------
.content {
  flex-direction: column;
  justify-content: start;
}

.item {
  flex-direction: row;
  justify-content: start;
  align-items: normal;
  .info {
    align-items: start;
    justify-content: space-between;
    padding: 2rem .5rem;
    button {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      align-items: baseline;
      i {
        font-size: 1.2rem;
      }
    }
  }
  .item-img {
    max-width: 250px;
  }
}
.items {
  flex-direction: column;
  h3 {
    writing-mode: revert;
    transform: revert;
    border-bottom: 1px solid $light-brown;
    padding: 1rem 0;
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
}
.scroller {
  flex-direction: row;
  overflow-y: visible;
  width: 100%;
  flex-wrap: wrap;
}
#item-modal .modal-body {
  form {
    display: flex;
    flex-direction: column;
    padding: 1rem ;
  }
  .input-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  select {
    padding-left: .5rem !important;
    font-size: .9rem;
  }
}
#item-unit-modal ,#add-modal {
  .modal-body form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem ;
  }
}