@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  :root {
    font-size: 13px;
  }
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  overflow: revert;
}

.btn-primary {
  background-color: #4F5949;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-primary:hover {
  background-color: #4d6141;
}

.btn-danger {
  background-color: #C01E29;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-danger:hover {
  background-color: #cb131f;
}

.select {
  width: 100%;
  position: relative;
}
.select .arrow {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #BEAF98;
}

select {
  width: 100%;
  border: none;
  box-shadow: none !important;
  background-color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  color: #986C41;
  appearance: none !important;
  background-image: none !important;
}
select:focus {
  outline: 1px solid #986C41;
}

.input {
  width: 100%;
}
.input input {
  border-radius: 0.5rem;
  overflow: clip;
  background-color: white;
  color: #986C41;
  box-shadow: none !important;
  border: none;
}
.input input:focus {
  border: none;
  box-shadow: none;
  outline: 1px solid #BEAF98;
}
.input input::placeholder {
  color: #986C41;
}

.search {
  position: absolute;
  top: 16%;
  font-size: 1.2rem;
  color: #BEAF98;
  right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent #4F5949;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4F5949;
  border-radius: 14px;
  border: none;
}

.btn-checkbox {
  border: 1px solid #4F5949;
  color: #4F5949;
  border-radius: 99px;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-checkbox label {
  pointer-events: none;
}
.btn-checkbox input {
  display: none;
  pointer-events: none;
}
.btn-checkbox.active {
  background-color: #4F5949;
  color: #F2EBE3;
}

button[disabled] {
  background-color: #C1C1C1;
}

.capitalize {
  text-transform: capitalize;
}

.modal-content {
  background-color: #F2EBE3;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found i {
  font-size: 10rem;
  color: #4F5949;
}
.not-found p {
  font-size: 1.5rem;
  color: #4F5949;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
aside .navbar {
  width: 100%;
}

.error {
  font-size: 0.8rem;
  color: #C01E29;
  display: none;
}
.error.show {
  display: block;
}

body {
  background: linear-gradient(0deg, rgba(152, 108, 65, 0.6), rgba(152, 108, 65, 0.6)), url("../pictures/background.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.5rem;
  overflow: clip;
}
@media screen and (max-width: 600px) {
  form {
    padding: 1rem;
  }
}

h1 {
  color: #986C41;
  font-weight: 700;
  font-size: 3rem;
}

.input {
  width: 100%;
}
.input input {
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  overflow: clip;
}
.input input:focus ~ label {
  color: #986C41;
  transform: translateY(-1.1rem) scale(0.9) !important;
}
.input label {
  color: #BEAF98;
}

.response {
  color: #C01E29;
  background-color: rgba(231, 64, 64, 0.1);
  border: 1px solid #C01E29;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

/*# sourceMappingURL=login.css.map */
