@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  :root {
    font-size: 13px;
  }
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  overflow: revert;
}

.btn-primary {
  background-color: #4F5949;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-primary:hover {
  background-color: #4d6141;
}

.btn-danger {
  background-color: #C01E29;
  color: #F2EBE3;
  transition: 300ms;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-danger:hover {
  background-color: #cb131f;
}

.select {
  width: 100%;
  position: relative;
}
.select .arrow {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #BEAF98;
}

select {
  width: 100%;
  border: none;
  box-shadow: none !important;
  background-color: white;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
  color: #986C41;
  appearance: none !important;
  background-image: none !important;
}
select:focus {
  outline: 1px solid #986C41;
}

.input {
  width: 100%;
}
.input input {
  border-radius: 0.5rem;
  overflow: clip;
  background-color: white;
  color: #986C41;
  box-shadow: none !important;
  border: none;
}
.input input:focus {
  border: none;
  box-shadow: none;
  outline: 1px solid #BEAF98;
}
.input input::placeholder {
  color: #986C41;
}

.search {
  position: absolute;
  top: 16%;
  font-size: 1.2rem;
  color: #BEAF98;
  right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent #4F5949;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4F5949;
  border-radius: 14px;
  border: none;
}

.btn-checkbox {
  border: 1px solid #4F5949;
  color: #4F5949;
  border-radius: 99px;
  min-width: fit-content;
  max-width: fit-content;
}
.btn-checkbox label {
  pointer-events: none;
}
.btn-checkbox input {
  display: none;
  pointer-events: none;
}
.btn-checkbox.active {
  background-color: #4F5949;
  color: #F2EBE3;
}

button[disabled] {
  background-color: #C1C1C1;
}

.capitalize {
  text-transform: capitalize;
}

.modal-content {
  background-color: #F2EBE3;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found i {
  font-size: 10rem;
  color: #4F5949;
}
.not-found p {
  font-size: 1.5rem;
  color: #4F5949;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
aside .navbar {
  width: 100%;
}

.error {
  font-size: 0.8rem;
  color: #C01E29;
  display: none;
}
.error.show {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #BEAF98;
  padding: 0.5rem 1.5rem;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo img {
  width: 50px;
}
#logo span {
  font-weight: 700;
  font-family: "Overlock", cursive;
  font-size: 2rem;
  color: #4F5949;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  overflow: clip;
}
.profile .img {
  width: 40px;
  height: 40px;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.profile .img img {
  scale: 1.2;
}

aside {
  background-color: white;
  max-width: 300px;
  min-width: 252px;
  width: 30%;
}
@media screen and (max-width: 650px) {
  aside {
    width: fit-content;
    min-width: revert;
  }
}
aside .navbar {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  aside .navbar {
    padding: 2rem 1rem;
  }
}
aside .navbar h2 {
  font-size: 1.5rem;
  color: #4F5949;
  font-weight: 700;
}
@media screen and (max-width: 650px) {
  aside .navbar h2 {
    display: none;
  }
}
aside .navbar .nav-link {
  border-radius: 0.5rem;
  overflow: clip;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
aside .navbar .nav-link.active, aside .navbar .nav-link:hover {
  background-color: #F2EBE3;
}
@media screen and (max-width: 650px) {
  aside .navbar .nav-link {
    width: fit-content;
  }
  aside .navbar .nav-link span {
    display: none;
  }
}
aside .navbar .nav-link div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}
aside .navbar .nav-link i {
  font-size: 1.5rem;
  color: #4F5949;
}
@media screen and (max-width: 650px) {
  aside > a span {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 67px);
  background-color: #F2EBE3;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem;
  width: 100%;
}
@media screen and (max-width: 650px) {
  .content {
    padding: 2rem 1rem;
  }
}
.content h1 {
  color: #0D1713;
  font-size: 1.5rem;
  font-weight: 500;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100vh - 67px);
  background-color: #F2EBE3;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 4rem;
  width: 100%;
}
@media screen and (max-width: 650px) {
  .content {
    padding: 2rem 1rem !important;
  }
}
.content h1 {
  color: #0D1713;
  font-size: 1.5rem;
  font-weight: 500;
}
.content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.content .input-profile {
  border-radius: 0.5rem;
  overflow: clip;
  background-color: white;
  width: 100%;
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (max-width: 650px) {
  .content .input-profile {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1rem;
  }
  .content .input-profile * {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}
.content .input-profile * {
  padding: 0.5rem 0;
}
.content .input-profile label {
  display: block;
  width: 20%;
  min-width: 150px;
  padding: 0.9rem 0;
}
.content .input-profile input {
  border: none;
  width: 100%;
  padding-left: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
}
.content .input-profile input:not([disabled]) {
  background-color: rgba(193, 193, 193, 0.3);
}
.content .input-profile input:focus {
  border: none;
  box-shadow: none;
  outline: 1px solid #BEAF98;
}
.content .input-profile button {
  color: #4F5949;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
@media screen and (max-width: 650px) {
  .content .input-profile button {
    width: calc(100% + 2rem);
  }
}
.content .input-profile button.hide {
  visibility: hidden;
}
.content .input-profile button:hover, .content .input-profile button.active {
  background-color: #4F5949;
  color: #F2EBE3;
}
.content .buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  flex-wrap: wrap;
}

#authentication-modal .modal-content, #password-modal .modal-content {
  background-color: #F2EBE3;
}

.response {
  color: #C01E29;
  background-color: rgba(231, 64, 64, 0.1);
  border: 1px solid #C01E29;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.red {
  border: 1px solid #C01E29 !important;
}

/*# sourceMappingURL=profile.css.map */
