@import "navbar";
@import "side-bar";
//--------------------------------------
.card {
  @include rounded-borders();
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: $shadow;
}

.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  padding: 1rem;

  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 150px;
    @include rounded-borders();
    @media screen and (max-width: 900px) {
      max-width: 150px;
      max-height: 180px;
      min-width: 145px;
      height: auto;
      width: auto;
    }
    @media screen and (max-width: 500px) {
      height: 100px;
      width: 100px;
      max-width: none;
      max-height: none;
      min-width: revert;
    }


    img {
      max-width: revert;
      min-width: 100%;
      min-height: 100%;
    }
  }

  align-items: stretch;
}

.card-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000%;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.title {
  color: $green;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.author {
  color: $brown;
  text-transform: capitalize;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    white-space: pre-line;
    word-spacing: 100vw;
  }
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  i {
    color: $creamy;
    font-size: 1.5rem;
  }

  p {
    color: $creamy;
  }

  padding: 0 1rem;

  &.green {
    background-color: $green;
  }

  &.red {
    background-color: $red;
  }

  &.gray {
    background-color: $gray;
  }
}

form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
  @media screen and (max-width: 650px) {
    width: 100%;
    gap: .5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  a {
    border: 1px solid $green;
    border-radius: 99px !important;
    white-space: nowrap;
    @media screen and (max-width: 650px) {
      width: 100%;
      text-align: center;
    }

    &.active {
      color: $creamy;
      background-color: $green;
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

